{% if sales_invoices %}
{% for invoice in sales_invoices %}

<tr class="card-header" id="heading-{{ invoice.invoiceId }}">
    <td>{{ invoice.invoiceId }}</td>
    <td>{{ invoice.status}}</td>
    <td>{{ invoice.createdate }}</td>
    <td>{{ invoice.total }}</td>
    <td>{{ invoice.total }}</td>
    <td>{{ invoice.dueDate }}</td>
    <td>
        <span class="material-symbols-outlined" data-toggle="collapse" data-target="#collapse-{{ invoice.invoiceId }}"
            aria-expanded="true" aria-controls="collapse-{{ invoice.invoiceId }}">
            inventory_2
        </span>
    </td>
</tr>
<tr id="collapse-{{ invoice.invoiceId }}" class="collapse" aria-labelledby="heading-{{ invoice.invoiceId }}"
    data-parent="#accordion">
    <td colspan="7">

        <table class="table">
            <thead>

                <th>Producto</th>
                <th>Cantidad</th>
                <th>Costo unitatio</th>
                <th>Subtotal</th>

            </thead>
            <tbody>
                {% for product in invoice.products %}

                <tr>
                    <td>{{product.itemnmbr}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.unitCost}}</td>
                    <td>{{product.extdCost}}</td>

                </tr>
                {% endfor %}

            </tbody>
        </table>

    </td>
</tr>

{% endfor %}
{% else%}
    <tr >
        <td colspan="7">No hay resultados</td>
    </tr>

{% endif %}