{% for payment in receipts %}
<tr class="card-header" id="heading-{{ payment.vchrnmbr }}">
    <td>{{payment.vchrnmbr}}</td>
    <td>{{payment.dinvodof}}</td>
    <td>{{payment.docamnt}}</td>
    <td>
        <span class="material-symbols-outlined" data-toggle="collapse" data-target="#collapse-{{ payment.vchrnmbr }}"
            aria-expanded="true" aria-controls="collapse-{{ payment.vchrnmbr }}">
            inventory_2
        </span>
    </td>
</tr>
{% if payment.reference %}
<tr id="collapse-{{ payment.vchrnmbr }}" class="collapse" aria-labelledby="heading-{{ payment.vchrnmbr }}"
    data-parent="#accordion">
    <td colspan="4">

        <table class="table">
            <thead>

                <th>Referencia</th>
                <th>Secuencia</th>
                <th>Monto</th>

            </thead>
            <tbody>
                {% for reference in payment.reference %}

                <tr>
                    <td>{{reference.aptvchnm}}</td>
                    <td>{{reference.seq}}</td>
                    <td>{{reference.appldamt}}</td>

                </tr>
                {% endfor %}

            </tbody>
        </table>

    </td>
</tr>
{% endif %}
{% endfor %}