{% extends "qp_supplier_front/templates/includes/container.html" %}

{% block content_page %}
<div id="overlay"></div>
<div class="row">


  <div class="col-lg-12" id="area">

    <div class="container">
				<div class="row" id="news-list">
          {% for article in news %}
						<div class="col-md-6 col-lg-4 mb-4">
							<div class="card h-100">
                {% if article.featured_image %}
                  <img src="{{ article.featured_image }}" class="card-img-top" alt="Imagen noticia">
                {% else %}
                  <div class="card-img-top bg-secondary d-flex align-items-center justify-content-center" style="height:200px; color:#fff;">
                  </div>
                {% endif %}
								<div class="card-body">
									<h5 class="card-title">{{ article.title }}</h5>
                  {% if article.tag %}
                    <span class="badge bg-primary mb-2">{{ article.tag }}</span>
                  {% endif %}
									<p class="card-text">{{ article.summary }}</p>
									<a class="btn btn-outline-primary" href="/news/details?article_name={{article.name}}&supplier_id={{supplier_id}}">Ver más</a>
								</div>
							</div>
						</div>
            {% endfor %}
					
				</div>
		</div>
  </div>


</div>
{% endblock %}