{% extends "qp_supplier_front/templates/includes/container.html" %}

{% block content_page %}
<div id="overlay"></div>
{% set alert_estatus = {
        "En proceso": {
            "class": "alert-info",
            "message": "El proceso de registro está en estatus: <strong>En proceso</strong>. Por favor llenar todos los datos "
        },
        "Aprobado": {
            "class":"alert-success", 
            "message": "El proceso de registro está en estatus: <strong>Aprobado</strong>."
        },
        "En revisión": {
            "class":"alert-warning", 
            "message": "El proceso de registro está en estatus: <strong>En revisión</strong>. Esperando aprobación de los datos"
        },
        "Rechazado": {
            "class":"alert-danger", 
            "message": "El proceso de registro está en estatus: <strong>Rechazado</strong>. Puede ver el motivo del rechazo en el siguiente enlace. <a class='link_modal' data-toggle='modal' data-target='#reject_motive'>Ver motivos</a>"
        }
    } %}


<div class="row" id="no-load">
    {% if supplier_id %}

    <div class="col-lg-12" id="area">
        <div class="alert d-flex align-items-center {{alert_estatus[supplier.qp_status].class}}" id="alert-status" role="alert" style="justify-content: space-between;">
            <div>
                {{alert_estatus[supplier.qp_status].message}}
            </div>
    
            {% if supplier.qp_status in ("Aprobado") and not supplier.qp_request_edit %}
            <button class="btn btn-outline-secondary btn-sm ms-auto rounded" id="request-edit-btn">
                Solicitar edición de datos
            </button>
            {% elif supplier.qp_request_edit and supplier.qp_status in ('Aprobado') %}
                {% if is_alpla_admin %}
                <button class="btn btn-success btn-sm ms-auto rounded" id="approve-edit-btn">
                    Aprobar Edición
                </button>
                {% else %}
                <span class="badge bg-secondary text-white ms-auto fs-6 py-2 px-3">Solicitud de edición enviada</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    
    {% endif %}
    <div class="col-lg-12" id="area">

        <div class="container-tab">
            <div class="tabs-container">
                <div class="tabs wizard-tabs">
                    <button class="tab basic active" data-step="01" onclick="saveShowTab('tab1')">
                        <span>Información Básica</span>
                    </button>
                    {% if supplier_id %}
                        <button class="tab address" data-step="02" onclick="saveShowTab('tab2')">
                            <span>Direcciones</span>
                        </button>
                        <button class="tab contact" data-step="03" onclick="saveShowTab('tab3')">
                            <span>Contactos</span>
                        </button>
                        <button class="tab legal" data-step="04" onclick="saveShowTab('tab4')">
                            <span>Representante Legal</span>
                        </button>
                        <button class="tab bank_account bank_account_complement" data-step="05" onclick="saveShowTab('tab5')">
                            <span>Cuentas Bancarias</span>
                        </button>
                        <button class="tab tax" data-step="06" onclick="saveShowTab('tab6')">
                            <span>Información Tributaria</span>
                        </button>
                        <button class="tab financial" data-step="07" onclick="saveShowTab('tab7')">
                            <span>Información Financiera</span>
                        </button>
                        {% if not supplier.qp_is_foreigner_supplier %}
                            <button class="tab international" data-step="08" onclick="saveShowTab('tab8')">
                                <span>Operaciones Internacionales</span>
                            </button>
                        {% endif %}
                        <button class="tab shareholder" data-step="09" onclick="saveShowTab('tab9')">
                            <span>Accionistas y Asociados</span>
                        </button>
                        <button class="tab document" data-step="10" onclick="saveShowTab('tab10')" id="document">
                            <span>Documentos</span>
                        </button>
                    {% endif %}
                </div>                
                <div class="dropdown-menu">
                    <select id="dropdown">
                        <option value="tab1">Información Básica</option>
                        {% if supplier_id %}

                        <option value="tab2">Direcciones</option>
                        <option value="tab3">Contactos</option>
                        <option value="tab4">Representante Legal</option>
                        <option value="tab5">Cuentas Bancarias</option>
                        <option value="tab6">Información Tributaria</option>
                        <option value="tab7">Información Financiera</option>
                        {% if not supplier.qp_is_foreigner_supplier %}
                        <option value="tab8">Operaciones Internacionales</option>
                        {% endif %}
                        <option value="tab9">Accionistas y Asociados</option>
                        <option value="tab10">Documentos</option>
                        {% endif %}

                    </select>
                </div>
                <div class="content">
                    <div id="tab1" class="tab-content">

                        {% include "qp_supplier_front/templates/form/information/basic.html" %}

                    </div>
                    {% if supplier_id %}

                        <div id="tab2" class="tab-content">
                            {% include "qp_supplier_front/templates/form/information/address.html" %}

                        </div>
                        <div id="tab3" class="tab-content">
                            {% include "qp_supplier_front/templates/form/information/contact.html" %}
                        </div>
                        <div id="tab4" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/legal.html" %}

                        </div>
                        <div id="tab5" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/bank_account.html" %}

                        </div>
                        <div id="tab6" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/tax.html" %}

                        </div>
                        <div id="tab7" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/financial.html" %}

                        </div>
                        {% if not supplier.qp_is_foreigner_supplier %}
                        <div id="tab8" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/international.html" %}

                        </div>
                        {% endif %}
                        <div id="tab9" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/shareholder.html" %}

                        </div>
                        <div id="tab10" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/document.html" %}

                        </div>
                    {% endif %}

                    <!-- Más secciones del formulario -->
                </div>
            </div>

        </div>
    </div>
</div>

{% if supplier and supplier.qp_status == "En revisión" and is_alpla_admin%}

<div class="row approve-row justify-content-between align-items-center" style="margin-top: 15px; margin-bottom: 15px;">
    
    <div class="col-lg-4">
        <div class="alert alert-info mb-0" role="alert" style="padding: 5px 15px;">
            <strong>Nota:</strong> 
            <span id = "preapproved_legend">
                {% if not qp_preapproved %}
                    En proceso de pre aprobación por compras
                {% else %}
                    En proceso de aprobación por finanzas

                {% endif %}
            </span>

        </div>
    </div>
    {% if is_preapproved %}
        <div class="col-lg-auto d-flex button-row">
            <div class="mr-2">
                    <input type="button" class="btn btn-success rounded approve" id="approve" value="Aprobar" style="display: {{none if not qp_preapproved else ''}};">
                    <input type="button" class="btn btn-success rounded preapproved" id="preapproved" value="Pre Aprobar" style="display: {{none if qp_preapproved else ''}};">
            </div>

            <div>
                <button type="button" class="btn btn-danger rounded" data-toggle="modal" data-target="#reject_motive">Rechazar</button>
            </div>
        </div>
    {% endif %}
    
</div>
{% endif %}

{% if supplier_id %}

    {% include "qp_supplier_front/templates/modal/address.html" %}
    {% include "qp_supplier_front/templates/modal/contact.html" %}
    {% include "qp_supplier_front/templates/modal/bank_account.html" %}
    {% include "qp_supplier_front/templates/modal/shareholder.html" %}
    {% include "qp_supplier_front/templates/modal/motivo.html" %}
    {% include "qp_supplier_front/templates/modal/authorization_processing.html" %}
    {% include "qp_supplier_front/templates/modal/conduct_code.html" %}
    
{% endif %}



{% endblock %}