{% extends "qp_supplier_front/templates/includes/container.html" %}

{% block content_page %}
<div id="overlay"></div>


{% set is_estatus_editable = not supplier or supplier.qp_status not in ("En revisión", "Aprobado") %}

{% set alert_estatus = {
        "En proceso": {
            "class": "alert-info",
            "message": "El proceso de registro esta en estatus: <strong>En proceso</strong>. Por favor llenar todos los datos "
        },
        "Aprobado": {
            "class":"alert-success", 
            "message": "El proceso de registro esta en estatus: <strong>Aprobado</strong>."
        },
        "En revisión": {
            "class":"alert-warning", 
            "message": "El proceso de registro esta en estatus: <strong>En revisión</strong>. Esperando aprobación de los datos"
        },
        "Rechazado": {
            "class":"alert-danger", 
            "message": "El proceso de registro esta en estatus: <strong>Rechazado</strong>. Puede ver el motivo del rechazo en el siguiente enlace. <a class='link_modal' data-toggle='modal' data-target='#reject_motive'>Ver motivos</a>"
        }
    } %}

<div class="row">
    {% if supplier_id %}

    <div class="col-lg-12" id="area">
        <div class="alert {{alert_estatus[supplier.qp_status].class}}" id = "alert-status" role="alert">
            {{alert_estatus[supplier.qp_status].message}}
          </div>
    </div>
    {% endif %}
    <div class="col-lg-12" id="area">

        <div class="container-tab">
            <div class="tabs-container">
                <div class="tabs">
                    <button class="tab" onclick="showTab('tab1')">Información Básica</button>
                    {% if supplier_id %}
                        <button class="tab" onclick="showTab('tab2')">Direcciones</button>
                        <button class="tab" onclick="showTab('tab3')">Contactos</button>
                        <button class="tab" onclick="showTab('tab4')">Representante Legal</button>
                        <button class="tab" onclick="showTab('tab5')">Cuentas Bancarias</button>
                        <button class="tab" onclick="showTab('tab6')">Información Tributaria</button>
                        <button class="tab" onclick="showTab('tab7')">Información Financiera</button>
                        <button class="tab" onclick="showTab('tab8')">Operaciones Internacionales</button>
                        <button class="tab" onclick="showTab('tab9')">Accionistas y Asociados</button>
                        <button class="tab" onclick="showTab('tab10')">Documentos</button>
                    {% endif %}
                </div>
                <div class="dropdown-menu">
                    <select id="dropdown">
                        <option value="tab1">Información Básica</option>
                        {% if supplier_id %}

                        <option value="tab2">Direcciones</option>
                        <option value="tab3">Contactos</option>
                        <option value="tab4">Representante Legal</option>
                        <option value="tab5">Cuentas Bancarias</option>
                        <option value="tab6">Información Tributaria</option>
                        <option value="tab7">Información Financiera</option>
                        <option value="tab8">Operaciones Internacionales</option>
                        <option value="tab9">Accionistas y Asociados</option>
                        <option value="tab10">Documentos</option>
                        {% endif %}

                    </select>
                </div>
                <div class="content">
                    <input type="hidden" id="supplier_id" value="{{supplier.name or ''}}">
                    <div id="tab1" class="tab-content">

                        {% include "qp_supplier_front/templates/form/information/basic.html" %}

                    </div>
                    {% if supplier_id %}

                        <div id="tab2" class="tab-content">
                            {% include "qp_supplier_front/templates/form/information/address.html" %}

                        </div>
                        <div id="tab3" class="tab-content">
                            {% include "qp_supplier_front/templates/form/information/contact.html" %}
                        </div>
                        <div id="tab4" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/legal.html" %}

                        </div>
                        <div id="tab5" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/bank_account.html" %}

                        </div>
                        <div id="tab6" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/tax.html" %}

                        </div>
                        <div id="tab7" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/financial.html" %}

                        </div>
                        <div id="tab8" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/international.html" %}

                        </div>
                        <div id="tab9" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/shareholder.html" %}

                        </div>
                        <div id="tab10" class="tab-content">

                            {% include "qp_supplier_front/templates/form/information/document.html" %}

                        </div>
                    {% endif %}

                    <!-- Más secciones del formulario -->
                </div>
            </div>

        </div>
    </div>
</div>

{% if supplier and supplier.qp_status == "En revisión" and is_alpla_admin %}
<div class="row approve-row" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="col-lg-1">
        <input type="button" class="btn btn-success" id="approve" value="Aprobar">
    </div>
    <div class="col-lg-1">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#reject_motive">Rechazar </button>
    </div>
</div>
{% endif %}

{% if supplier_id %}

    {% include "qp_supplier_front/templates/modal/address.html" %}
    {% include "qp_supplier_front/templates/modal/contact.html" %}
    {% include "qp_supplier_front/templates/modal/bank_account.html" %}
    {% include "qp_supplier_front/templates/modal/shareholder.html" %}
    {% include "qp_supplier_front/templates/modal/motivo.html" %}
    
{% endif %}

{% endblock %}