{% if sales_order %}
{% for order in sales_order %}
<tr class="card-header" id="heading-{{ order.orderId }}">
    <td>{{ order.orderId }}</td>
    <!--td>{# order.status #}</td-->
    <td>{{ order.docDate }}</td>
    <td>
        <span class="material-symbols-outlined" data-toggle="collapse" data-target="#collapse-{{ order.orderId }}"
            aria-expanded="true" aria-controls="collapse-{{ order.orderId }}">
            inventory_2
        </span>
    </td>
</tr>
{% if order.products %}
<tr id="collapse-{{ order.orderId }}" class="collapse" aria-labelledby="heading-{{ order.orderId }}"
    data-parent="#accordion">
    <td colspan="4">

        <table class="table">
            <thead>

                <th>Producto</th>
                <th>Cantidad</th>
                <th>Costo unitatio</th>
                <th>Subtotal</th>

            </thead>
            <tbody>
                {% for product in order.products %}

                <tr>
                    <td>{{product.itemnmbr}}</td>
                    <td>{{product.qtyOrder}}</td>
                    <td>{{product.unitCost}}</td>
                    <td>{{product.extdCost}}</td>

                </tr>
                {% endfor %}

            </tbody>
        </table>

    </td>
</tr>
{% endif %}
{% endfor %}
{% else%}
<tr>
    <td colspan="4">No hay resultados</td>
</tr>
{% endif %}