main {
    max-width: 100% !important;
    padding: 0 !important;
}

body,
html {
    height: 100% !important;
    margin: 0;
}

#sidebar,
area {
    height: 100% !important;
}

#sidebar {
    background-color: #fff;
}

#area {
    padding-right: 5% !important;
}

.row-line {
    margin: 0 0 2% 0;
}

.subtitle {
    text-align: left;
    font: normal normal bold 17px Montserrat;
    letter-spacing: 0px;
    color: #646874;
}

label {
    text-align: left;
    font: normal normal 500 12px Montserrat;
    letter-spacing: 0px;
    color: #666A65;
}

.btn-primary {
    background: #004D90 0% 0% no-repeat padding-box !important;
}

.sidebar-menu {
    text-align: left;
    font: normal normal bold 17px/39px Montserrat;
    letter-spacing: 0px;
    color: #666A65;
    cursor: pointer;
}

.sidebar-menu.active {

    color: #004D90;
}

.container-fluid {
    border-top: 1px solid #C5C3C3 !important;
    padding-top: 2.5% !important;
}

.table-list {
    width: 100%;
}

.table-list>thead>tr>th {
    background: #004D90 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal bold 15px/29px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.table-list>tbody>tr>td {

    text-align: left;
    font: normal normal 500 14px Montserrat !important;
    color: #6D6D6D !important;
}

input[type="date"]::before {
    content: attr(data-placeholder);
    color: #999;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "";
}

input::placeholder {

    font: normal normal 500 14px Montserrat !important;
    color: #004D90 !important;
    opacity: 1;
}

input:focus::placeholder {
    opacity: 0.5;
    /* Atenúa el placeholder al hacer clic */
}

select {
    color: #004D90 !important;
}

textarea {
    width: 100%;
    height: 150px; /* Puedes ajustar la altura según tus necesidades */
    margin-bottom: 20px; /* Espacio inferior opcional */
    border: 1px solid #ccc; /* Borde opcional */
    border-radius: 5px; /* Esquinas redondeadas opcionales */
}