@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

main {
    max-width: 100% !important;
    padding: 0 !important;
}

body,
html {
    height: 100% !important;
    margin: 0;
}

#sidebar,
#area {
    height: 100% !important;
}

#sidebar {
    background-color: #fff;
}

#area {
    /* 
    padding-right: 5% !important;
    */
    z-index: 1;

}


.row-line {
    margin: 0 0 2% 0;
}
.custom-title{
    font-family: 'Open Sans';
    font-weight: 600;
    color: #003666;
}
.subtitle {
    text-align: left;
    font: normal normal bold 17px Open Sans;
    letter-spacing: 0px;
    color: #646874;
}

label {
    text-align: left;
    font: normal normal 500 16px Open Sans;
    letter-spacing: 0px;
    color: #666A65;
}

.btn-primary {
    background: #004D90 0% 0% no-repeat padding-box !important;
    border-radius: 5px !important;
}

.sidebar-menu {
    text-align: left;
    font: normal normal bold 17px/39px Open Sans;
    letter-spacing: 0px;
    color: #666A65;
    cursor: pointer;
}

.sidebar-menu.active {

    color: #004D90;
}

.container-fluid {
    border-top: 1px solid #C5C3C3 !important;
    padding-top: 2.5% !important;
}

/* Tabla principal */
.table-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    border: none;
}

/* Encabezados de tabla */
.table-list>thead>tr>th {
    color: #004D90;
    background-color: #d1d1d1;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    line-height: 29px;
    padding: 10px 6px;
    border: none;
}

.table-list>thead>tr>th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.table-list>thead>tr>th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* Filas del cuerpo */
.table-list>tbody>tr {
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
    transition: all 0.2s ease-in-out;
}

/* Celdas del cuerpo */
.table-list>tbody>tr>td {
    text-align: left;
    font-size: 14px;
    color: #6D6D6D;
    padding: 10px 6px;
    background-color: transparent;
    border: none;
}

.table-list>tbody>tr>td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.table-list>tbody>tr>td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* Efecto al pasar el mouse */
.table-list>tbody>tr:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
}

/* Badges de estado */
.status-badge {
    display: inline-block;
    padding: 2px 8px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 999px;
    text-transform: uppercase;
}

/* Colores personalizados */
.status-open {
    border: 2px solid #3b82f6;
    color: #3b82f6;
}

.status-paid {
    border: 2px solid #22c55e;
    color: #22c55e;
}

.status-cancelled {
    border: 2px solid #ef4444;
    color: #ef4444;
}

.status-default {
    border: 2px solid #d1d5db;
    color: #d1d5db;
}

.inner-table {
    width: 100%;
    border-collapse: collapse;
}

.inner-table th,
.inner-table td {
    background: none;
    text-align: left;
    font: normal normal 500 14px Open Sans;
    color: #666A65;
    padding: 8px;
    border: none;
}

.inner-table th {
    background-color: #f5f5f5;
    color: #004D90;
    font-weight: bold;
}
.inner-table th:first-child {
    border-top-left-radius: 8px;
}       
.inner-table th:last-child {
    border-top-right-radius: 8px;
}
.inner-table td {
    background-color: #FFF;
    color: #666A65;
    border-bottom: .5px solid #c8cdc7;
}
input[type="date"]::before {
    content: attr(data-placeholder);
    color: #999;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "";
}

input::placeholder {

    font: normal normal 500 14px Open Sans !important;
    color: #004D90 !important;
    opacity: 1;
}

input:focus::placeholder {
    opacity: 0.5;
    /* Atenúa el placeholder al hacer clic */
}

select {
    color: #004D90 !important;
}

textarea {
    width: 100%;
    height: 150px;
    /* Puedes ajustar la altura según tus necesidades */
    margin-bottom: 20px;
    /* Espacio inferior opcional */
    border: 1px solid #ccc;
    /* Borde opcional */
    border-radius: 5px;
    /* Esquinas redondeadas opcionales */
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.link_modal {
    text-decoration: underline !important;
    color: #004D90 !important;
    cursor: pointer !important;
    font-weight: 700;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.material-symbols-outlined {
    cursor: pointer;
}

#page-rfq .sidebar-column.col-sm-2,
#page-rfq .page-breadcrumbs {
    display: none;
}

#page-order .sidebar-column.col-sm-2,
#page-order .page-breadcrumbs {
    display: none;
}

#page-list .sidebar-column.col-sm-2,
#page-list .page-breadcrumbs {
    display: none;
}

.page-link {
    cursor: pointer;
}

#popup-sync {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

#custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color oscuro */
    z-index: 100; /* Justo debajo de los modales de Frappe */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    pointer-events: all; /* Bloquea clics */

}

.form-estandar input[type="text"]:not(.no-uppercase), 
.form-estandar input:not([type]):not(.no-uppercase), 
.form-estandar textarea:not(.no-uppercase) {
    text-transform: uppercase;
}