{% if sales_invoices %}
{% for invoice in sales_invoices %}

<tr class="card-header" id="heading-{{ invoice.qp_invoice_id }}">
    <td>{{ invoice.qp_invoice_id }}</td>
    <td>{{ invoice.qp_status}}</td>
    <td>{{ invoice.qp_create_date }}</td>
    <td>{{ invoice.qp_due_date }}</td>
    <td>{{ invoice.currency }}</td>
    <td>{{ invoice.qp_subtotal }}</td>
    <td>{{ invoice.qp_tax }}</td>
    <td>{{ invoice.qp_total }}</td>
    <td>
        <span class="material-symbols-outlined detail-row empty-data" data-toggle="collapse" id = "action-{{invoice.name}}" data-target="#collapse-{{ invoice.qp_invoice_id }}"
            aria-expanded="true" aria-controls="collapse-{{ invoice.qp_invoice_id }}" data-name = "{{invoice.name}}" data-key="{{key}}" data-doctype="{{doctype_detail}}" data-search = "1">
            inventory_2
        </span>
    </td>
</tr>
<tr id="collapse-{{ invoice.qp_invoice_id }}" class="collapse" aria-labelledby="heading-{{ invoice.qp_invoice_id }}"
    data-parent="#accordion" data-sync = "0">
    <td colspan="9">
        Buscando informacion...
    </td>
</tr>

{% endfor %}
{% else%}
    <tr >
        <td colspan="9">No hay resultados</td>
    </tr>

{% endif %}