{% extends "frappe/templates/web.html" %}

    <div class="row">

        <div class="col-lg-2" id="sidebar">
            <div class="row">
                <div class="col lg-12 sidebar-menu active">
                    Información
                </div>
            </div>
            <div class="row">
                <div class="col lg-12 sidebar-menu">Facturas</div>
            </div>
            <div class="row">
                <div class="col lg-12 sidebar-menu">Orden de Compra</div>
            </div>
            <div class="row">
                <div class="col lg-12 sidebar-menu">Recibos</div>
            </div>
            <div class="row">
                <div class="col lg-12 sidebar-menu">Reportes impuesto</div>
            </div>
        </div>
        <div class="col-lg-10" id="area">

            {% block page_content %}
            {% endblock %}


        </div>


    </div>
    {% endblock %}
