<div class="modal fade" id="bank_account_modal" tabindex="-1" aria-labelledby="bank_account_modal_label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bank_account_modal_label">Agregar cuenta bancaria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-estandar form-modal" id="form-bank-account" method="POST" data-method-default = "POST"
                    action="api/method/qp_supplier_front.resources.information.bank_account.save">
                    <div class="row row-line">
                        <div class="col-lg-12">

                            <select class="form-control" name="bank" id="bank" data-label="bank"
                                data-fieldtype="Select">
                                <option value="0" selected="selected" class="custom-option">Banco
                                </option>
                                {% for bank in banks %}
                                <option value="{{bank.name}}" class="custom-option">
                                    {{bank.bank_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row row-line">

                        <div class="col-lg-12">
                            <select class="form-control" name="account_type" id="account_type" data-label="País"
                                data-fieldtype="Select">
                                <option value="0" selected="selected" class="custom-option">Tipo de Cuenta
                                </option>
                                {% for bank_account_type in bank_account_types %}
                                <option value="{{bank_account_type.name}}" class="custom-option">
                                    {{bank_account_type.account_type}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row row-line">
                        <div class="col-lg-12">
                            <input type="text" autocomplete="off"
                                class="input-with-feedback form-control floating-input bold" maxlength="140"
                                data-fieldtype="Data" data-doctype="Issue" name="bank_account_no" id="bank_account_no"
                                placeholder="Número de cuenta bancaria" value="">
                        </div>
                    </div>
                    <div class="row row-line">
                        <div class="col-lg-12">
                            <button class="btn btn-primary btn-sm primary-action {{ '' if is_estatus_editable else 'hidden disabled' }} button-save" id="save">Guardar</button>
                        </div>
                    </div>
                    <input type="hidden" name="doctype_id" value="">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>