<div class="modal fade" id="conductCodeModal" data-accept="{{supplier.qp_accept_conduct_code }}"
    data-view="{{is_alpla_admin}}" tabindex="-1" role="dialog" aria-labelledby="conductCodeModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="conductCodeModalLabel">Código de Conducta de Proveedores</h5>

            </div>
            <div class="modal-body modal-content-scroll" id="modal-content"
                style="max-height: 400px; overflow-y: auto;">
                {% if conditions_content %}
                {{ conditions_content | safe }}
                {% else %}
                <h5>1. Objetivo</h5>
                <p>La visión sostenible holística de ALPLA es la de usar los recursos humanos y naturales de
                    forma eficiente y sostenible y tratamos de mejorar nuestro desempeño constantemente.
                    Además de nuestro desempeño, el desempeño de los Proveedores, como parte importante de
                    nuestro negocio, es un factor clave en nuestro éxito. A causa de esto, somos conscientes de
                    nuestra responsabilidad de considerar factores sociales y ecológicos al tratar con los
                    Proveedores.</p>
                <p>Por lo tanto, ALPLA desarrolló un Código de Conducta de Proveedores, que se basa en nuestro
                    Código de Conducta. El Código de Conducta de Proveedores refleja nuestros valores y
                    queremos compartirlos con nuestros Proveedores.
                    También queremos garantizar con este Código de Conducta de Proveedores que el grupo
                    ALPLA y sus Proveedores cumplan con las leyes y regulaciones legales, con el fin de respaldar
                    un desarrollo sostenible.</p>
                <p>Este Código de Conducta de Proveedores se basa en nuestros valores y tiene en cuenta, entre
                    otras cosas, la Declaración Universal de los Derechos Humanos, los principios del Pacto
                    Mundial de la ONU, el Código Base de la ICE, los lineamientos de la OCDE para
                    multinacionales, las normas ISO 14001, ISO 50001 e ISO 45001.</p>

                <h5>2. Alcance</h5>
                <p>El Código de Conducta de Proveedores es válido para nuestros Proveedores y todas las formas
                    de sus empleados, incluyendo sus empleados temporales y en préstamo (denominados
                    “Proveedor”).</p>
                <p>El Proveedor reconoce el Código de Conducta de Proveedores de ALPLA y ha implementado
                    este Código o un Código de Conducta equivalente o más exigente dentro de su organización.</p>
                <p>ALPA también alienta a los Proveedores a que requieran normas similares según lo dispuesto
                    en este Código de Conducta de Proveedores para su Proveedores.</p>
                <h5>3. Valores de ALPLA</h5>
                <p>La conducta de ALPLA al tratar con clientes, Proveedores, agencias gubernamentales,
                    políticos, competidores y compañeros de trabajo se caracteriza en particular por los
                    siguientes valores:</p>
                <ul>
                    <li>Tratos justos y respetuosos con el otro</li>
                    <li>Un espíritu de liderazgo</li>
                    <li>Consideración mutua</li>
                    <li>Tratamiento equitativo para todas las personas y apreciación de las diferentes
                        culturas</li>
                    <li>Acciones y toma de decisiones responsables, sostenibles y orientadas al futuro</li>
                </ul>
                <p>Esperamos que nuestros Proveedores reconozcan estos valores, además de que los vivan en
                    su negocio a diario y en la conducta con sus socios.</p>
                <p>Nuestro Código de Conducta cumple con los estándares éticos reconocidos
                    internacionalmente y los principios del Código Base de la Iniciativa de Comercio Ético, el
                    Pacto Mundial de las Naciones Unidas, los Principios Rectores de las Naciones Unidas y la
                    legislación estatutaria. Respetamos y apoyamos estos valores y principios, que consideramos
                    como la base de nuestra toma de decisiones y acciones cotidianas.</p>

                <h5>4. Protección ambiental</h5>
                <p>El Proveedor se compromete a cumplir todas las leyes y regulaciones legales de los países
                    individuales con respecto a temas ambientales.</p>
                <p>Además, se alienta al Proveedor a mejorar su desempeño ambiental cuando sea posible y se
                    compromete a actuar bajo el principio de precaución. El Proveedor se compromete a asumir
                    los costos del daño ambiental causado por sus acciones.</p>
                <p>El uso sostenible y eficiente de los recursos es altamente vital para ALPLA y esperamos que
                    nuestros Proveedores trabajen de una manera que ahorre recursos, incluyendo el reciclaje, la
                    reducción de residuos, la eliminación de residuos y las operaciones de circuito cerrado.</p>
                <p>ALPLA recomienda encarecidamente la implementación de la norma ISO 14001 y otras
                    comparables (por ejemplo, EMAS) como herramientas de gestión para mejorar el desempeño
                    ambiental.</p>
                <p>Cuando se trata de productos químicos o sustancias tóxicas, el Proveedor cumple con todas
                    las leyes y regulaciones legales y garantiza la seguridad de las personas, los empleados y el
                    medio ambiente, incluyendo la eliminación precisa de residuos.</p>
                <p>El Proveedor se compromete a usar la energía de manera eficiente para ahorrar energía y
                    reducir las emisiones de gases de efecto invernadero. ALPLA recomienda encarecidamente la
                    implementación de la norma ISO 50001.</p>
                <p>Adicionalmente, el Proveedor tiene como objetivo centrarse en el uso de energías renovables
                    (por ejemplo, energía hidráulica, eólica, biomasa, solar) cuando sea posible.</p>
                <h5>5. Conducta en tratos con otros</h5>
                <strong>Cumplimiento de las leyes aplicables</strong>
                <p>El Proveedor se compromete a cumplir las regulaciones impuestas por las leyes de los países
                    individuales sin excepción alguna.</p>
                <strong>Competencia</strong>
                <p>Las leyes relativas a la competencia y los monopolios proporcionan reglas de conducta claras
                    para tratar con competidores. Estas reglas también deben cumplirse estrictamente1.
                    Los Proveedores deben abstenerse de celebrar o llevar a cabo acuerdos anticompetitivos
                    entre competidores, incluyendo acuerdos para fijar precios; hacer ofertas amañadas
                    (licitaciones colusorias); establecer restricciones o cuotas de producción; o compartir o
                    dividir mercados mediante la asignación de clientes, Proveedores, territorios o líneas de
                    comercio.</p>
                <strong>Anticorrupción</strong>
                <p>El Proveedor no debe, directa ni indirectamente, ofrecer, prometer, dar, aceptar ni exigir un
                    soborno ni ninguna otra ventaja indebida para obtener o retener negocios u otra ventaja
                    indebida. El Proveedor también debe resistir la solicitud de sobornos y extorsiones3.
                    Se permiten regalos ocasionales de poco valor, siempre que estén dentro de los límites
                    ordenados por las leyes fiscales.</p>
                <strong>Prevención de conflictos de interés</strong>
                <p>Se debe evitar cualquier situación o actividad en la que los intereses personales del Grupo
                    ALPLA entren en conflicto con los intereses del Proveedor.</p>
                <h5>6. Derechos sobre la tierra</h5>
                <p>Esperamos que nuestros proveedores protejan y fomenten los derechos sobre la tierra de las
                    poblaciones locales y los pueblos indígenas. El proveedor se compromete a respetar los
                    derechos de propiedad y las escrituras de las poblaciones indígenas y los residentes locales.
                    Todas las negociaciones con respecto a su propiedad y sobra la tierra, así como su uso y
                    transferencia, se llevan a cabo de acuerdo con el principio de transparencia y divulgación
                    contractual, con el consentimiento previo voluntario y basado en la información.</p>
                <h5>7. Derechos humanos y normas laborales</h5>
                <p>ALPLA espera que sus proveedores cumplan con los principios del Código Base de la ICE. Por
                    lo tanto, el documento del Código Base de la ICE es aplicable a este Código de Conducta de
                    Proveedores4. Los principios más importantes son los siguientes:</p>
                <strong>Empleo formal y libremente elegido</strong>
                <p>Nuestros empleados tienen un empleo libremente elegido. El proveedor no acepta ningún tipo
                    de trabajo forzado o involuntario. El trabajo realizado por los empleados se lleva a cabo sobre
                    la base de un contrato laboral formal, que a su vez se basa en la legislación laboral nacional del
                    país correspondiente.</p>
                <strong>Libertad de reunión y derecho al convenio colectivo</strong>
                <p>Todos los empleados tienen derecho a establecer y afiliarse a un sindicato, así como a llevar a
                    cabo negociaciones de convenio colectivo.</p>
                <strong>Condiciones de trabajo seguras e higiénicas</strong>
                <p>Las condiciones de trabajo seguras e higiénicas y el estricto cumplimiento de las normas de
                    seguridad laboral constituyen la base esencial sobre la que se organiza nuestro trabajo1. Por lo
                    tanto, ALPLA recomienda muy especialmente la implementación de la ISO 45001.</p>
                <strong>No al trabajo infantil</strong>
                <p>El Proveedor no tolera el trabajo infantil bajo ninguna circunstancia, y busca prevenirlo
                    completamente.</p>
                <strong>Salario mínimo</strong>
                <p>Los sueldos y salarios se pagan de acuerdo con los requisitos legales nacionales. Siempre
                    deben cubrir las necesidades básicas de los empleados.</p>
                <strong>Horario de trabajo</strong>
                <p>Los horarios de trabajo se ajustan a las normas internacionales y no exceden los límites
                    impuestos por las leyes nacionales del país correspondiente.</p>
                <strong>No a la discriminación</strong>
                <p>Se prohíbe toda forma de discriminación, tanto dentro de la organización del proveedor como
                    en las relaciones con terceros. Las decisiones que se tomen con respecto a los empleados o
                    candidatos no deben basarse en su nacionalidad, religión, orientación sexual, género, etc.</p>
                <strong>No al acoso</strong>
                    <p>El Proveedor no tolerará el acoso sexual, el abuso físico o verbal, la intimidación y otros tipos
                        de comportamiento irrespetuoso.</p>
                    <strong>Trabajadores migrantes</strong>
                    <p>Todos los empleados cumplen los criterios legales para trabajar en el país correspondiente.</p>
                    <h5>8. Confidencialidad y protección de la propiedad intelectual y física de la compañía</h5>
                    <p>El Proveedor garantizará que no se violen los derechos de terceros con su cumplimiento.
                        El Proveedor está obligado a mantener la confidencialidad de toda la información recibida por
                        parte de ALPLA, incluso después del cumplimiento del contrato
                    <p>
                    <h5>9. Cumplimiento, vigilancia y conducta indebida</h5>
                    <p>ALPLA se reserva el derecho de revisar todos los puntos establecidos en este Código de
                        Conducta de Proveedores en forma de auditorías, autoevaluaciones, reuniones con el
                        Proveedor u otras formas de supervisión.</p>
                    <p>Si alguna parte del Código de Conducta no se cumple, podría acarrear consecuencias. Como
                        último recurso, los contratos pueden ser cancelados.
                        Si algún Proveedor no está seguro de cómo aplicar estas reglas, si es testigo de algún
                        incumplimiento o si tiene alguna queja, puede ponerse en contacto con el Director de
                        Cumplimiento de ALPLA en la Casa Matriz en Hard (Austria).
                        Puede enviar directamente un correo electrónico a <a target="_blank" href="mailto:compliance@alpla.com"> compliance@alpla.com</a> o visitar nuestra
                        página de cumplimiento en nuestra página web: <a target="_blank" href="https://www.alpla.com">www.alpla.com</a>.
                        El Director de Cumplimiento se compromete a tratar todas las consultas de forma profesional
                        y confidencial. Cualquier incumplimiento posible y sospechoso del Código de Conducta se
                        tomará con seriedad cuando se informe y, si se solicita, se tratará de forma confidencial y
                        anónima. Los hechos del caso se investigarán imparcialmente y con el debido cuidado. Si se
                        identifican incumplimientos, se iniciarán las medidas correctivas y/o disciplinarias necesarias.
                    </p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if supplier.qp_accept_conduct_code %}
                <p> Aceptado por {{supplier.qp_accept_conduct_code_user}} el {{supplier.qp_accept_conduct_code_date}}
                </p>
                {% else %}
                <button type="button" class="btn btn-primary accept-button" data-accept-type="qp_accept_conduct"
                    disabled>Acepto el código de conducta de proveedores</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>