<div class="modal fade" id="syncModal" tabindex="-1" role="dialog" aria-labelledby="syncModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="syncModalLabel">Se realizará una sincronización de la información.</h5>
            </div>
            <div class="modal-body">
                Esta acción puede demorar unos segundos.
            </div>
        </div>
    </div>
</div>