<div class="modal fade" id="reject_motive" tabindex="-1" aria-labelledby="reject_motive_label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reject_motive_label">Motivo de rechazo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                    <div class="row row-line">
                        <div class="col-lg-12">

                            <textarea class="form-control" id="qp_reject_observation" rows="3"></textarea>

                    </div>
                </div>

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm btn-modal-close" data-dismiss="modal">
                    <i class="octicon octicon-x visible-xs" style="padding: 1px 0px;"></i>
                    <span class="hidden-xs">Close</span>
                </button>
                <button type="button" class="btn btn-sm btn-danger" disabled id="reject">Rechazar</button>
            </div>
        </div>
    </div>
</div>