<td colspan="4">
    {% if list_detail %}
    <div class="row">
        <div class="col-lg-12">

            <table class="table inner-table">
                <thead>

                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Costo unitatio</th>
                    <th>Subtotal</th>

                </thead>
                <tbody>
                    {% for item in list_detail %}

                    <tr>
                        <td>{{item.item_code}}</td>
                        <td>{{item.qp_qty or item.qty}}</td>
                        <td>{{frappe.format_value(item.qp_unit_cost or item.rate, "Currency")}}</td>
                        <td>{{frappe.format_value(item.qp_extd_cost or item.amount, "Currency")}}</td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    {% include "qp_supplier_front/templates/paginator/control.html" %}
    {% else %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <span class="text-muted">No hay información disponible</span>
        </div>
    </div>
    {% endif %}
</td>