<div class="row row-line">
    <div class="col-sm-12">
        <button type="button"
            class="btn btn-primary btn-sm primary-action {{ '' if is_estatus_editable else 'hidden disabled' }} button-new"
            data-toggle="modal" data-target="#addres_modal" id="new-address">
            <span class="material-symbols-outlined" style="font-size: 16px; margin-left: 2px;">
                add
            </span>
            New
        </button>
    </div>
</div>
<div id = "address_list">
    {% include "qp_supplier_front/templates/list/information/addresses.html" %}
   
</div>
<div class="row row-line justify-content-between">
    <div class="col-4 text-left">
        <button class="btn btn-primary btn-sm primary-action {{ 'is_estatus_editable' if is_estatus_editable else '' }} button-save" id="save" onclick="showTab('tab1')">
            <span class="material-symbols-outlined" style="font-size: 14px; margin-right: 2px;">
                arrow_back_ios
            </span>
            Información Básica</button>
    </div>
    <div class="col-4 text-right">
        <button class="btn btn-primary btn-sm primary-action {{ 'is_estatus_editable' if is_estatus_editable else '' }}" onclick="showTab('tab3')" id="save">
            Continuar
            <span class="material-symbols-outlined" style="font-size: 14px; margin-left: 2px;">
                arrow_forward_ios
            </span>
        </button>
    </div>
</div>