<form>
    <div class="row row-line">
        <div class="col-lg-12 subtitle">Información Basica</div>
    </div>
    <div class="row row-line">

        <div class="col-xs-12 col-lg-3">
            <Label>Nombre</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>
        <div class="col-xs-12 col-lg-3">
            <Label>Tipo de documento</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>

        <div class="col-xs-12 col-lg-3">
            <Label>Documento</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>

        <div class="col-xs-12 col-lg-3">
            <Label>Dirección</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>
    </div>
    <div class="row row-line">

        <div class="col-xs-12 col-lg-3">
            <Label>Ciudad</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>
        <div class="col-xs-12 col-lg-3">
            <Label>Correo electrónico</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>

        <div class="col-xs-12 col-lg-3">
            <Label>Codigo CIIU</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>

        <div class="col-xs-12 col-lg-3">
            <Label>Telefono</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>
    </div>
    <div class="row row-line">
        <div class="col-lg-12 subtitle">Documentos</div>

    </div>
    <div class="row row-line">
        <div class="col-lg-2"><Label>RUT</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>

    </div>
    <div class="row row-line">
        <div class="col-lg-2">
            <Label>Camara de comercio</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>

    </div>
    <div class="row row-line">
        <div class="col-lg-2">
            <Label>Cedula Representante legal</Label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre">
        </div>

    </div>
    <div class="row row-line">
        <div class="col-lg-2">

            <button class="btn btn-primary btn-sm primary-action" id="save">Save</button>

        </div>
    </div>
</form>