<form id="form-document" method="POST" data-method-default="POST"
    action="qp_supplier_front.resources.information.document.update"  data-control="{{ 'is_estatus_editable' if is_estatus_editable else '' }}" data-type="document">

    <div class="text-muted" style="font-size: 14px; margin: 15px;">
        <i>Los documentos adjuntos <strong>no</strong> deben haber sido expedidos hace <strong>más de 30 días</strong>.</i>
    </div>

    {% set chunk_size = 2 %}
    {% for i in range(0, document_settings|length, chunk_size) %}

    <div class="row row-line">
        {% for document_setting in document_settings[i:i + chunk_size] %}
        {% set line = document_setting.line %}
        {% set line_file = line and line.file %}
        {% set id = document_setting.title | replace(' ', '-') %}
        <div class="col-lg-6">
            <div class="doc-upload-option">
                <div class="doc-icon">📄</div>
                <div class="doc-info">
                    <div class="doc-title">{{ document_setting.title }}</div>
                    <div class="doc-subtext" id="status-{{ id }}">
                        {% if not line_file %}
                            Archivo no cargado
                        {% else %}
                            Archivo listo para ver
                        {% endif %}
                    </div>
                </div>
                <div class="doc-action" id="action-{{ id }}">
                    <label  class="upload-btn upload-{{id}} " style="display: {{'none' if line_file else ''}};">
                        Subir
                        <input type="file" class="supplier_file"
                            data-document="{{ id }}"
                            id="file-{{ id }}"
                            data-setting-id="{{ id }}">
                    </label>

                    <a href="{{ line.file }}" id ="view-{{id}}" target="_blank" class="view-btn empty-{{id}} " style="display: {{'none' if not line_file else ''}};">Ver archivo</a>
                    {% if is_estatus_editable %}
                    <span class="material-symbols-outlined doc-delete empty-{{id}}" style="margin-left: 1em;color: red;display: {{'none' if not line_file else ''}};" data-setting-id="{{id}}" >delete</span>
                    {% endif %}
                </div>
                <input type="hidden" class="file-link"
                    data-updated="{{ '0' if line else '1' }}"
                    data-document="{{ id }}"
                    id="link-{{ id }}" name="file"
                    value="{{ line.file if line else '' }}">
            </div>
        </div>
        {% endfor %}
    </div>

    {% endfor %}
    <div class="row row-line">
        <div class="col-6">
             <label for="qp_has_quality_cert">¿Cuenta con certificados de calidad?</label>

            <select class="form-control" {{ "" if is_estatus_editable else "disabled = 'true'" }} name="qp_has_quality_cert"
                id="qp_has_quality_cert" data-label="qp_has_quality_cert" data-fieldtype="Select">
                {% for response in responses %}
                {% set selected = "selected" if supplier.qp_has_quality_cert == response.name %}

                <option value="{{response.name}}" class="custom-option" {{selected}}>
                    {{response.value}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-6">
            <label for="qp_quality_cert_detail">¿Cuáles?</label>
            <input type="text" class="form-control" {{ "" if is_estatus_editable else "disabled = 'true'" }} name="qp_quality_cert_detail"
                id="qp_quality_cert_detail" data-label="qp_quality_cert_detail" data-fieldtype="Text"
                value="{{ supplier.qp_quality_cert_detail if supplier.qp_quality_cert_detail else "" }}">
        </div>
    </div>
    <div class="row row-line justify-content-between">
        <div class="col-4 text-left">
            <button class="btn btn-primary btn-sm primary-action {{ 'is_estatus_editable' if is_estatus_editable else '' }} button-save"
                data-control="tab9" id="save">
                <span class="material-symbols-outlined" style="font-size: 14px; margin-right: 2px;">
                    arrow_back_ios
                </span>
                Accionistas y Asociados
            </button>
        </div>
        <div class="col-4 text-right">
            <button class="btn btn-primary btn-sm primary-action finish {{ '' if is_estatus_editable else 'hidden disabled' }} button-save"
                id="save">Finalizar</button>
        </div>
    </div>
</form>
