<form class="form-estandar" method="PUT" data-method-default="PUT" id="form-financial"
    action="api/method/qp_supplier_front.resources.information.financial.update"  data-control="{{ 'is_estatus_editable' if is_estatus_editable else '' }}" data-type="estandar">
    <div class="row row-line">

        <div class="col-lg-4">
            <label for="qp_financial_assets">Activos</label>

            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold number"
                {{ "" if is_estatus_editable else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" name="qp_financial_assets" id="qp_financial_assets" placeholder="Activos"
                value="{{supplier.qp_financial_assets  or 0.00}}">
        </div>

        <div class="col-lg-4">
            <label for="qp_financial_liabilities">Pasivos</label>
            <input type="text" autocomplete="off" name="qp_financial_liabilities"
                class="input-with-feedback form-control floating-input bold number" {{ "" if is_estatus_editable
                else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data" data-doctype="Issue"
                id="qp_financial_liabilities" value="{{supplier.qp_financial_liabilities  or 0.00}}"
                placeholder="Pasivos">
        </div>
        <div class="col-lg-4">
            <label for="qp_financial_equity">Patrimonio</label>
            <input type="text" autocomplete="off" name="qp_financial_equity"
                class="input-with-feedback form-control floating-input bold number" {{ "" if is_estatus_editable
                else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data" data-doctype="Issue"
                id="qp_financial_equity " value="{{supplier.qp_financial_equity or 0.00}}" placeholder="Patrimonio">
        </div>
    </div>
    <div class="row row-line">
        <div class="col-lg-4">

            <label for="qp_financial_other_income">Otros Ingresos</label>
            <input type="text" autocomplete="off" name="qp_financial_other_income"
                class="input-with-feedback form-control floating-input bold number" {{ "" if is_estatus_editable
                else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data" data-doctype="Issue"
                id="qp_financial_other_income" value="{{supplier.qp_financial_other_income or 0.00}}"
                placeholder="Otros Ingresos">
        </div>


        <div class="col-lg-4">
            <label for="qp_financial_monthly_income">Ingresos Mensuales</label>
            <input type="text" autocomplete="off" name="qp_financial_monthly_income"
                class="input-with-feedback form-control floating-input bold number" {{ "" if is_estatus_editable
                else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data" data-doctype="Issue"
                id="qp_financial_monthly_income" value="{{supplier.qp_financial_monthly_income  or 0.00}}"
                placeholder="Ingresos Mensuales">
        </div>
        <div class="col-lg-4">
            <label for="qp_financial_monthly_expenses">Egresos Mensuales</label>
            <input type="text" autocomplete="off" name="qp_financial_monthly_expenses"
                class="input-with-feedback form-control floating-input bold number" {{ "" if is_estatus_editable
                else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data" data-doctype="Issue"
                id="qp_financial_monthly_expenses" value="{{supplier.qp_financial_monthly_expenses or 0.00}}"
                placeholder="Egresos Mensuales">
        </div>
    </div>
    <div class="row row-line">
        <div class="col-lg-4">
            <label for="qp_financial_details_income">Detalle de los otros ingresos</label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                {{ "" if is_estatus_editable else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" name="qp_financial_details_income" id="qp_financial_details_income"
                placeholder="Detalle de los otros ingresos" value="{{supplier.qp_financial_details_income  or ''}}">
        </div>
    </div>

    <div class="row row-line justify-content-between">
        <div class="col-4 text-left">
            <button
                class="btn btn-primary btn-sm primary-action {{ 'is_estatus_editable' if is_estatus_editable else '' }} button-save"
                data-control="tab6" id="save">
                <span class="material-symbols-outlined" style="font-size: 14px; margin-right: 2px;">
                    arrow_back_ios
                </span>
                Información Tributaria</button>
        </div>
        {% if not supplier.qp_is_foreigner_supplier %}
        <div class="col-4 text-right">
            <button
                class="btn btn-primary btn-sm primary-action {{ 'is_estatus_editable' if is_estatus_editable else '' }} button-save"
                data-control="tab8" id="save">
                Continuar
                <span class="material-symbols-outlined" style="font-size: 14px; margin-left: 2px;">
                    arrow_forward_ios
                </span>
            </button>
        </div>
        {% else %}
        <div class="col-4 text-right">
            <button
                class="btn btn-primary btn-sm primary-action {{ 'is_estatus_editable' if is_estatus_editable else '' }} button-save"
                data-control="tab9" id="save">
                Continuar
                <span class="material-symbols-outlined" style="font-size: 14px; margin-left: 2px;">
                    arrow_forward_ios
                </span>
            </button>
        </div>
        {% endif %}
    </div>

</form>