<form class = "form-estandar"  id="form-international" action="api/method/qp_supplier_front.resources.information.international.update">
    <div class="row row-line">
        
        <div class="col-lg-4">
            <label for="qp_financial_currency_foreigner">¿Realiza transacciones en moneda extranjera? (Sí/No)</label>

            <select class="form-control" name="qp_financial_currency_foreigner" id="qp_financial_currency_foreigner" data-label="qp_financial_currency_foreigner"
                data-fieldtype="Select">
                <option value="" selected="selected" class="custom-option">Respuesta</option>
                {% for response in responses %}
                <option value="{{response}}"  class="custom-option">
                    {{response}}
                </option>
                {% endfor %}

            </select>
        </div>

        <div class="col-lg-4">
            <label for="qp_financial_currency_foreigner">¿Cuál?</label>

            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                maxlength="140" data-fieldtype="Data" data-doctype="Issue" name="qp_financial_which_currency_foreigner" id="qp_financial_which_currency_foreigner"
                placeholder="¿Cuál?" value="{{supplier.qp_financial_which_currency_foreigner or ''}}">
        </div>


        
        <div class="col-lg-4">
            <label for="qp_financial_currency_foreigner">Indique otras operaciones</label>

            <input type="text" autocomplete="off" name="qp_financial_other_operations"
                class="input-with-feedback form-control floating-input bold" maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" id="qp_financial_other_operations" value="{{supplier.qp_financial_other_operations or ''}}"
                placeholder="Indique otras operaciones">
        </div>
    </div>
    <div class="row row-line">

        <div class="col-lg-4">
            <label for="qp_financial_item_foreigner">¿Posee productos financieros en el exterior? (Sí/No)</label>

            <select class="form-control" name="qp_financial_item_foreigner" id="qp_financial_item_foreigner" data-label="qp_financial_item_foreigner"
                data-fieldtype="Select">
                <option value="" selected="selected" class="custom-option">Respuesta</option>
                {% for response in responses %}
                <option value="{{response}}"  class="custom-option">
                    {{response}}
                </option>
                {% endfor %}

            </select>
        </div>
        <div class="col-lg-4">
            <label for="qp_financial_account_currency_foreigner">¿Posee cuentas en moneda extranjera? (Sí/No)</label>

            <select class="form-control" name="qp_financial_account_currency_foreigner" id="qp_financial_account_currency_foreigner" data-label="qp_financial_account_currency_foreigner"
                data-fieldtype="Select">
                <option value="" selected="selected" class="custom-option">Respuesta</option>
                {% for response in responses %}
                <option value="{{response}}"  class="custom-option">
                    {{response}}
                </option>
                {% endfor %}

            </select>
        </div>
        <div class="col-lg-4">
            <label for="qp_financial_item_type">Tipo de Producto</label>

            <input type="text" autocomplete="off" name="qp_financial_item_type"
                class="input-with-feedback form-control floating-input bold" maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" id="qp_financial_item_type" value="{{supplier.qp_financial_item_type or ''}}"
                placeholder="Tipo de Producto">
        </div>

    </div>
    <div class="row row-line">
        <div class="col-lg-4">
            <label for="qp_financial_item_number">Identificación número del Producto</label>

            <input type="text" autocomplete="off" name="qp_financial_item_number"
                class="input-with-feedback form-control floating-input bold" maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" id="qp_financial_item_number" value="{{supplier.qp_financial_item_number or ''}}"
                placeholder="Identificación número del Producto">
        </div>
        <div class="col-lg-4">
            <label for="qp_financial_entity">Entidad</label>

            <input type="text" autocomplete="off" name="qp_financial_entity"
                class="input-with-feedback form-control floating-input bold" maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" id="qp_financial_entity" value="{{supplier.qp_financial_entity or ''}}"
                placeholder="Entidad">
        </div>
        <div class="col-lg-4">
            <label for="qp_financial_amount">Monto</label>

            <input type="text" autocomplete="off" name="qp_financial_amount"
                class="input-with-feedback form-control floating-input bold" maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" id="qp_financial_amount" value="{{supplier.qp_financial_amount or ''}}"
                placeholder="Monto">
        </div>

    </div>
    <div class="row row-line">
        <div class="col-lg-4">
            <label for="qp_financial_city">Ciudad</label>

            <input type="text" autocomplete="off" name="qp_financial_city"
                class="input-with-feedback form-control floating-input bold" maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" id="qp_financial_city" value="{{supplier.qp_financial_city or ''}}"
                placeholder="Ciudad">
        </div>
        <div class="col-lg-4">
            <label for="qp_financial_country">País</label>

            <input type="text" autocomplete="off" name="qp_financial_country"
                class="input-with-feedback form-control floating-input bold" maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" id="qp_financial_country" value="{{supplier.qp_financial_country or ''}}"
                placeholder="País">
        </div>
        <div class="col-lg-4">
            <label for="qp_financial_currency">Moneda</label>

            <input type="text" autocomplete="off" name="qp_financial_currency"
                class="input-with-feedback form-control floating-input bold" maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" id="qp_financial_currency" value="{{supplier.qp_financial_currency or ''}}"
                placeholder="Moneda">
        </div>

    </div>
    
    <div class="row row-line">
        <div class="col-lg-4">
            <button class="btn btn-primary btn-sm primary-action" id="save">Guardar</button>
        </div>
    </div>

</form>