<form class="form-estandar" id="form-tax" method="PUT" data-method-default="PUT"
    action="api/method/qp_supplier_front.resources.information.tax.update" data-control="{{ 'is_estatus_editable' if is_estatus_editable else '' }}" data-type="estandar">
    <div class="row row-line">

        <div class="col-lg-4">
            <label for="qp_vat_officer">Responsable de IVA</label>

            <select class="form-control" {{ "" if is_estatus_editable else "disabled = 'true'" }} name="qp_vat_officer"
                id="qp_vat_officer" data-label="qp_vat_officer" data-fieldtype="Select">
                {% for response in responses %}
                {% set selected = "selected" if supplier.qp_vat_officer == response.name %}

                <option value="{{response.name}}" class="custom-option" {{selected}}>
                    {{response.value}}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-lg-4">
            <label for="tax_regime">Régimen</label>

            <select class="form-control" {{ "" if is_estatus_editable else "disabled = 'true'" }} name="tax_regime"
                id="tax_regime" data-label="tax_regime" data-fieldtype="Select">
                <option value="0" selected="selected" class="custom-option">Régimen</option>
                {% for regime in regimes %}
                <option value="{{regime.name}}" {{regime.selected}} class="custom-option">
                    {{regime.tax_regime_name}}
                </option>
                {% endfor %}

            </select>
        </div>
        <div class="col-lg-4">
            <label for="qp_industry_and_commerce_tax">Impuesto de Industria y Comercio</label>

            <select class="form-control" {{ "" if is_estatus_editable else "disabled = 'true'" }}
                name="qp_industry_and_commerce_tax" id="qp_industry_and_commerce_tax"
                data-label="qp_industry_and_commerce_tax" data-fieldtype="Select">
                {% for response in responses %}
                {% set selected = "selected" if supplier.qp_industry_and_commerce_tax == response.name %}

                <option value="{{response.name}}" class="custom-option" {{selected}}>
                    {{response.value}}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-lg-4">
            <label for="qp_industry_and_commerce_rate">Tarifa Industria y Comercio</label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold number" {{ "" if
                is_estatus_editable else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" name="qp_industry_and_commerce_rate" id="qp_industry_and_commerce_rate"
                placeholder="Tarifa Industria y Comercio" value="{{supplier.qp_industry_and_commerce_rate  or 0.00}}">
        </div>

        <div class="col-lg-4">
            <label for="qp_self_retaining">Autoretenedor</label>
            <select class="form-control" {{ "" if is_estatus_editable else "disabled = 'true'" }}
                name="qp_self_retaining" id="qp_self_retaining" data-label="qp_self_retaining" data-fieldtype="Select">
                {% for response in responses %}
                {% set selected = "selected" if supplier.qp_self_retaining == response.name %}

                <option value="{{response.name}}" class="custom-option" {{selected}}>
                    {{response.value}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-4">
            <label for="qp_resolution_self_retaining">Resolución Autoretenedor</label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold" {{ "" if
                is_estatus_editable else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" name="qp_resolution_self_retaining" id="qp_resolution_self_retaining"
                placeholder="Resolución Autoretenedor" value="{{supplier.qp_resolution_self_retaining or ''}}">
        </div>
        <div class="col-lg-4">
            <label for="qp_major_contributor">Gran Contribuyente</label>
            <select class="form-control" {{ "" if is_estatus_editable else "disabled = 'true'" }}
                name="qp_major_contributor" id="qp_major_contributor" data-label="qp_major_contributor"
                data-fieldtype="Select">
                {% for response in responses %}
                {% set selected = "selected" if supplier.qp_major_contributor == response.name %}

                <option value="{{response.name}}" class="custom-option" {{selected}}>
                    {{response.value}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-4">
            <label for="qp_resolution">Resolución Gran Contribuyente</label>
            <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold" {{ "" if
                is_estatus_editable else "disabled = 'true'" }} maxlength="140" data-fieldtype="Data"
                data-doctype="Issue" name="qp_resolution" id="qp_resolution" placeholder="Resolución Gran Contribuyente"
                value="{{supplier.qp_resolution  or ''}}">
        </div>
        <div class="col-lg-4">
            <label for="qp_vat_withholding_agent">Retenedor de IVA</label>
            <select class="form-control" {{ "" if is_estatus_editable else "disabled = 'true'" }}
                name="qp_vat_withholding_agent" id="qp_vat_withholding_agent" data-label="qp_vat_withholding_agent"
                data-fieldtype="Select">
                {% for response in responses %}
                {% set selected = "selected" if supplier.qp_vat_withholding_agent == response.name %}

                <option value="{{response.name}}" class="custom-option" {{selected}}>
                    {{response.value}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-4">
            <label for="ciiu_id">Actividad Económica Principal (CIIU)</label>
            <select class="form-control" {{ "" if is_estatus_editable else "disabled = 'true'" }} name="ciiu_id"
                id="ciiu_id" data-label="ciiu_id" data-fieldtype="Select">
                <option value="0" selected="selected" class="custom-option">Actividad Económica Principal</option>
                {% for ciiu in ciius %}
                <option value="{{ciiu.name}}" {{ciiu.selected}} class="custom-option">
                    {{ciiu.ciiu_name}}
                </option>
                {% endfor %}

            </select>
        </div>
    </div>

    <div class="row row-line justify-content-between">
        <div class="col-4 text-left">
            <button
                class="btn btn-primary btn-sm primary-action {{ 'is_estatus_editable' if is_estatus_editable else '' }} button-save"
                data-control="tab5" id="save">
                <span class="material-symbols-outlined" style="font-size: 14px; margin-right: 2px;">
                    arrow_back_ios
                </span>
                Cuentas Bancarias</button>
        </div>
        <div class="col-4 text-right">
            <button
                class="btn btn-primary btn-sm primary-action {{ 'is_estatus_editable' if is_estatus_editable else '' }} button-save"
                data-control="tab7" id="save">
                Continuar
                <span class="material-symbols-outlined" style="font-size: 14px; margin-left: 2px;">
                    arrow_forward_ios
                </span>
            </button>
        </div>
    </div>

</form>