{% extends "qp_supplier_front/templates/includes/container.html" %}

{% block content_page %}
<div class="row">


    <div class="col-lg-12" id="area">


        <!--div class="row row-line">

            <div class="col-lg-3">
                <input type="text" autocomplete="off" class="input-with-feedback form-control floating-input bold"
                    maxlength="140" data-fieldtype="Data" data-doctype="Issue" id="Nombre" placeholder="Factura">
            </div>


            <div class="col-lg-3">
                <input type="date" autocomplete="off" class="input-with-feedback form-control bold" id="filing_date"
                    data-placeholder="Fecha de radicación">
            </div>

            <div class="col-lg-3">

                <select class="form-control" name="status" id="status" data-label="Status" data-fieldtype="Select">
                    <option value="0" selected="selected" class="custom-option">Estado</option>
                </select>
            </div>

        </div-->
        <div class="row row-line">

            <table class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                        <th class="text-left">Solicitud</th>
                        <th class="text-left">Compañía</th>
                        <th class="text-left">Fecha de solicitud</th>
                        <th class="text-left"></th>
                    </tr>
                </thead>
                <tbody >

                    {% if request_quotations %}
                        {% for request_quotation in request_quotations %}

                        <tr >
                            <td class="text-left">{{ request_quotation.name }}</td>
                            <td class="text-left">{{request_quotation.company}}</td>
                            <td class="text-left">{{ request_quotation.transaction_date }}</td>
                            <td class="text-left">
                                <a href="rfq/{{request_quotation.name}}" target="_blank">
                                <span class="material-symbols-outlined" >
                                    visibility
                                </span>
                            </a>
                            </td>
                        </tr>

                        {% endfor %}
                        {% else%}
<tr>
    <td colspan="4">No hay resultados</td>
</tr>
                        {% endif %}
                </tbody>
            </table>

        </div>

    </div>


</div>
{% endblock %}