<div class="row">

    <div class="col-lg-2">
        Total: {{total_items}}
    </div>
    <div class="col-lg-2 text-left">
        Sincronizados: {{total_items_sync}}
    </div>
    
    <div class="col-lg-4 text-center">
        Pagina {{page + 1}} de {{total_pages}}
    </div>

    <div class="col-lg-4 text-right">
        {% if total_pages > 1 %}
        <nav aria-label="Page navigation" data-reference="#action-{{list_detail[0].parent}}">
            <ul class="pagination justify-content-end">
                {% if page > 0 %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page - 1 }}"> < </a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" data-page="{{ page }}">{{ page + 1 }}</a>
                </li>
                {% if page + 1 < total_pages %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page + 1 }}">></a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

</div>