<div class="row row-line">
    {% if supplier.qp_shareholders %}
    <table class="table">
        <thead>
            <th>Razón social o nombre completo</th>
            <th>Tipo de Identificación</th>
            <th>Número</th>
            <th>% Participación</th>
            {% if is_estatus_editable %}
                <th>Acciones</th>
            {% endif %}
        </thead>
        <tbody>
            {% for shareholder in supplier.qp_shareholders %}

            <tr>
                <td class="shareholder-id" data-id="{{shareholder.name}}"><span
                        class="link_modal">{{shareholder.fullname}}</span></td>
                <td>{{shareholder.id_type}}</td>
                <td>{{shareholder.tax_id}}</td>
                <td>{{shareholder.market_share}}</td>
                {% if is_estatus_editable %}
                <td>
                    <span class="material-symbols-outlined shareholder-delete empty-{{shareholder.name}}"  data-shareholder-id="{{shareholder.name}}" style="margin-left: 1em;color: red;">delete</span>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="col-lg-12">
        <p>No hay accionistas registrados</p>
    </div>
    {% endif %}
</div>